name: CI

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '1 5 * * 1'

# Cancel running jobs if new commits are pushed
concurrency:
  group: >
    ${{ github.workflow }}-
    ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        python: ['3.9', '3.10', '3.11', '3.12', '3.13']
        os: [ubuntu-latest, macos-latest, windows-latest]
        mpi: [mpich, openmpi, msmpi]
        exclude:
          - os: ubuntu-latest
            mpi: msmpi
          - os: macos-latest
            mpi: msmpi
          - os: windows-latest
            mpi: mpich
          - os: windows-latest
            mpi: openmpi
        include:
          - mpi: mpich
            mpiexec: mpiexec
          - mpi: openmpi
            mpiexec: mpiexec --oversubscribe
          - mpi: msmpi
            mpiexec: mpiexec
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        # Micromamba needs a login shell to make sure the environment is active
        shell: bash -el {0}
    env:
      PYTEST_MPI_MAX_NPROCS: 3
    steps:
      - uses: actions/checkout@v4

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ".github/etc/test_environment_${{ matrix.mpi }}.yml"
          create-args: >-
              python=${{ matrix.python }}

      - name: Install mpi-pytest
        run: pip install --no-deps -e .

      - name: Run tests
        run: |
          : # 'forking' mode
          pytest -v tests
          : # 'non-forking' mode
          ${{ matrix.mpiexec }} -n 1 pytest -v -m parallel[1] tests
          ${{ matrix.mpiexec }} -n 2 pytest -v -m parallel[2] tests
          ${{ matrix.mpiexec }} -n 3 pytest -v -m parallel[3] tests

      - name: Check 'parallel[match]' marker
        # Check that the same tests are collected for 'parallel[N]' and 'parallel[match]'
        run: |
          PYTEST_CALL="pytest --co --quiet --color no --no-header --no-summary tests"
          echo $PYTEST_CALL

          echo here
          ${{ matrix.mpiexec }} -n 1 $PYTEST_CALL -m parallel[1] | grep "<Function " > pytest_output_1.out
          ${{ matrix.mpiexec }} -n 1 $PYTEST_CALL -m parallel[match] | grep "<Function " > pytest_output_1_match.out
          echo here
          cat pytest_output_1.out
          diff pytest_output_1.out pytest_output_1_match.out

          $PYTEST_CALL -m parallel[1] | grep "<Function " | tee pytest_output_1_serial.out
          diff pytest_output_1.out pytest_output_1_serial.out

          for n in $(seq 2 3)
          do
            ${{ matrix.mpiexec }} -n 1 $PYTEST_CALL -m parallel[$n] : -n $((n-1)) bash -c "$PYTEST_CALL -m parallel[$n] > /dev/null" | grep "<Function " > pytest_output_${n}.out
            ${{ matrix.mpiexec }} -n 1 $PYTEST_CALL -m parallel[match] : -n $((n-1)) bash -c "$PYTEST_CALL -m parallel[match] > /dev/null" | grep "<Function " > pytest_output_${n}_match.out
            echo test
            cat pytest_output_${n}.out
            cat pytest_output_${n}_match.out
            diff pytest_output_${n}.out pytest_output_${n}_match.out
          done
